<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <servlet>
        <servlet-name>llamaProxy</servlet-name>
        <servlet-class>bc.utils.llama.LlamaProxyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>llamaProxy</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>llamaPing</servlet-name>
        <servlet-class>bc.utils.llama.LlamaPingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>llamaPing</servlet-name>
        <url-pattern>/ping</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>llamaModels</servlet-name>
        <servlet-class>bc.utils.llama.LlamaModelsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>llamaModels</servlet-name>
        <url-pattern>/models</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>llamaPull</servlet-name>
        <servlet-class>bc.utils.llama.LlamaPullServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>llamaPull</servlet-name>
        <url-pattern>/pull</url-pattern>
    </servlet-mapping>
</web-app>